body{
    background-color: #dadad0;
}
h1{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    color: #eb6257;
}
p{
    text-align: left;
    font-family: 'Poiret One', cursive;
    font-size: 3em;   
    color: #528fcb;
}