body{
    background-color: aliceblue;
}
h1{
    text-align: left;
    font-family: 'Yantramanav', sans-serif;
    font-size: 5em;
    color: #1b2145;
}
p{
    text-align: left;
    font-family: 'Yantramanav', sans-serif;
    font-size: 3em;   
    color: #1b2145;
}