html, body {margin: 0; height: 100%; overflow-x: hidden}
body{
    background-color: aliceblue;
}
#top{
    position: fixed;
    display: block;
    width: 100%;
    margin: 0px;
            }
#top > h1{
    font-family: 'Yantramanav', sans-serif;
    font-size: 7vw;
    text-align: center;
    color: #1b2145;
    margin: 0px;
            }
#middle{
    position: absolute;
    display: block;
    margin-top: 5%;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: auto;
}
#left{
    position: absolute;
    width: 33.333333333333%;
    height: auto;
    margin-left: 0px;
    margin-right: 66.6666666666%;
    margin-top: 0px;
    margin-bottom: 0px;
}
#center{
    position: fixed;
    width: 33.333333333333%;
    height: auto;
    margin-left: 33.333333333333%;
    margin-right: 33.333333333333%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
#center > p{
    font-family: 'Yantramanav', sans-serif;
    font-size: 3vw;
    color: #1b2145;
}
#center > p > span{
    font-size: 6vw; 
    display: block;
}
#center > p > span > a{
    color: #1b2145;
}
img{
    height: 50%;
    width: 50%;
    margin: auto;
}
a{
    text-decoration: none;
    color: darkslategray;
}
#right{
    position: absolute;
    width: 33.333333333333%;
    height: auto;
    margin-right: 0px;
    margin-left:66.66666666666%; 
    margin-top: 0px;
    margin-bottom: 0px;
}
table{
    margin: auto;
}
td{
    font-size: 3vw;
    font-family: 'Yantramanav', sans-serif;
    padding: 2em;
    text-align: center;
}
a:hover{
    color: black;
}
#center > p > span > a:hover{
    color: #eb6257;
}